<% if @person.errors.any? %>
  <ul>
    <% @person.errors.full_messages.each do |error| %>
      <li> <%= error %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @person do |f| %>
  <div class='input-field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <br />

  <div class='input-field'>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <br />

  <div class='input-field'>
  <%= f.label :weight %>
  <%= f.number_field :weight %>
  </div>

  <br />

  <div class='input-field'>
    <%= f.label :height %>
    <%= f.number_field :height %> 
  </div>

  <br>

  <div class='input-field'>
    <%= f.label :gender, class: 'active' %>
    <%= f.select :gender, Person.gender, {}, {}%>
  </div>

  <br />

  <div class='input-field'>
    <%= f.label :hair_color, class: 'active' %>
    <%= f.select :hair_color, Person.hair_color, {}, {} %>
  </div>

  <br />

  <div class='input-field'>
    <%= f.label :eye_color, class: 'active' %>
    <%= f.select :eye_color, Person.eye_color, {}, {} %>
  </div>

  <br />
  <div class='row' >
  <%= f.submit 'Update', class: 'btn pull-left col s6 m2' %>
<% end %>

<%= link_to "All people", people_path, class: 'btn pull-left col s6 m2' %>
</div>







