<h1 class="center-align">Search</h1>
<div class="container">
	<%= form_tag("/search", method: "get") do %>
		<div class='row'>
			<div class='input-field col s12 m4' ><%= label_tag(:name, "Name") %>
				<%= text_field_tag :name, params[:name] %> </div>
				<br/>
			<div class='input-field col s12 m4' ><%= label_tag(:age, "Age") %>
				<%= number_field_tag :age, params[:age] %> </div>
				<br/>
			<div class='input-field col s12 m4' ><%= label_tag(:weight, "Weight") %>
				<%= number_field_tag :weight, params[:weight] %> </div>
				<br/>
			<div class='input-field col s12 m4' ><%= label_tag(:height, "Height (inches)") %>
				<%= number_field_tag :height, params[:height] %> </div>
				<br/>
			<div class='input-field col s12 m4' ><%= label_tag(:eye_color, "Eye Color") %>
				<%= text_field_tag :eye_color, params[:height]%> </div>
				<br/>
			<div class='input-field col s12 m4' ><%= label_tag(:hair_color, "Hair Color") %>
				<%= text_field_tag :hair_color, params[:hair_color] %> </div>
				<br/>
			<div class='col s12'> <%= submit_tag "Search", class: 'btn' %> </div>

		</div>
	<% end %>
</div>
<br>

<div class='center-align'>
<% if Person.user.blank? == false %>
	<% if @search %>
	<h3>Your search results:</h3>
		<div class='row'>
		<% @search.each do |result| %>
			<% if result != Person.user && Person.user.gender != result.gender %>
			<span class="card-panel hoverable col s12 m4 l3 center-align" >
			<%= link_to result.name, person_path(result)%>
			</span>
			<% end %>
		<% end %>
		</div>
		<% @search = [] %>
	<% end %>
	<% else %>
		<h5>Choose or create a profile to see results!</h5>
<% end %>

<%= link_to 'All people', people_path %>
</div>

