<h1> Info For Person: <%= @person.name %> </h1>

<table>
  <thead>
    <tr>
      <th>|  Age  </th>
      <th>|  Gender  </th>
      <th>|  Hair Color  </th>
      <th>|  Eye Color  </th>
      <th>|  Weight   </th>
      <th>|  Height  </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @person.age %> </td>
      <td> <%= @person.gender %> </td>
      <td> <%= @person.hair_color %> </td>
      <td> <%= @person.eye_color %> </td>
      <td> <%= @person.weight %> </td>
      <td> <%= @person.height %> </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit User', edit_person_path(@person) %>
<br/>
<%= link_to 'Delete', person_path(@person), method: :delete, data: {confirm: 'REALLY?!?!!? YOU SURE ABOUT THIS???'} %>
<br />
<%= link_to "#{@person.name}'s address", person_addresses_path(@person) %>
<br>
<%= link_to "#{@person.name}'s hobbies", person_hobbies_path(@person) %>
<br/>
<%= link_to 'All People', people_path %>
