<h1> <%= @person.name %> - All Hobbies </h1>

<% if @hobbies.any? %>
  <!-- loop the Hobbies and display them -->
  <ul>
    <% @hobbies.each do |hobby| %>
      <li> <%= hobby.name %> - <%= link_to 'Description', person_hobby_path(@person, hobby) %> 
      <% if @person == Person.user %>
      	<%= link_to 'Delete', person_hobby_path(@person, hobby), method: :delete, data: {confirm: 'Are You Sure?'} %>
      	<%= link_to 'Edit', edit_person_hobby_path(@person, hobby) %>
      	</li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <!-- display no hobbies message -->
  <h3>No hobbies listed</h3>
<% end %>
<% if @person == Person.user %>
	<%= link_to 'New hobby', new_person_hobby_path(@person) %>
<% end %>
<%= link_to  'Full profile', person_path(@person) %>
