<h1> Address for <%= @person.name %> </h1>

<p>Street Address: <%= @address.street_address %> </p>
<p>City: <%= @address.city %> </p>
<p>State: <%= @address.state %> </p>
<p>ZIP Code: <%= @address.zip %> </p>

<%= link_to "Edit", edit_person_address_path(@person, @address) %>
<br/>
<%= link_to 'DELETE', person_address_path(@person, @address), method: :delete, data: {confirm: 'REALLY?!?!!? YOU SURE ABOUT THIS???'}%>
<br/>
<%= link_to 'Personal Info', person_path(@person) %>
